<template>
    <form 
    class="form"
    @submit.prevent="setImages"
    >
        <div class="form__item item-link">
            <label for="link" >
                Ссылка на изображение:
            </label>
            <input type="text" id="link">
        </div>
        <div class="form__item item-file">
            <label >
                Добавить файлом:
            </label>
            <input type="file">
        </div>
        <button>Добавить изображения</button>
    </form>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    name: 'FormImg',
    methods: {
        ...mapActions('images', {
            putImage: 'putImages',
        }),
        setImages(event){
            let resultHandler = (result) => {
                if(!result.length){ return }
                this.putImage(result);
                let images = localStorage.getItem('images');
                if(images){
                    images = JSON.parse(images);
                    images.push(...result);
                    localStorage.setItem('images', JSON.stringify(images));
                }else{
                    localStorage.setItem('images', JSON.stringify(result));
                }
            };
            let inputUrl = event.target[0].value.trim();
            let inputFile = event.target[1].files[0];
            if(inputFile){
                let reader = new FileReader();
                reader.onerror = () =>{
                    console.log(reader.error);
                };
                if(inputFile.type.includes('image')){
                    reader.readAsDataURL(inputFile);
                    reader.onload = () => {
                        resultHandler([{url: reader.result}]);
                    };
                }else if(inputFile.type.includes('json')){
                    reader.readAsText(event.target[1].files[0]);
                    reader.onload = () => {
                        let result = JSON.parse(reader.result).images;
                        resultHandler(result);
                    };
                }
            }
            if(inputUrl){
                resultHandler([{url: inputUrl}]);
            }
            event.target.reset();
        },
    },

}
</script>
<style scoped>
.form {
    max-width: 1200px;
    margin: 20px auto;
}
.form__item {
    padding-bottom: 10px;
}
.form__item label {
    display: block;
    margin-bottom: 5px;
}
.item-link input{
    display: inline-block;
    width: 50%;
    padding: 5px;
}
</style>