<template>
    <div class="gallery__item">
        <div 
        class="gallery__delete-img"
        @click="deleteImg(indexObj)"
        >
            Удалить
        </div>
        <img 
        class="gallery__img"
        :src="imageObj.url"
        @click="openPopUp(imageObj)"
        >
        <div 
        class="gallery__img-descr"
        v-if="imageObj.description"
        >
            {{ imageObj.description }}
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    name: 'GalleryItem',
    props: ['imageObj', 'indexObj'],
    methods: {
        ...mapActions('images', {
            deleteImage: 'deleteImage',
            activePopup: 'putImagePopup',
        }),
        deleteImg(index){
            this.deleteImage(index);
        },
        openPopUp(imageObj){
            this.activePopup(imageObj);
        },
    },
}
</script>

<style scoped>
.gallery__item {
    break-inside: avoid;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: rgba(151, 145, 145, .5);
    border-radius: 10px;  
}
.gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    cursor: pointer;
}
.gallery__img-descr,
.gallery__delete-img  {
    opacity: 0;
    position: absolute;
    color: #fff;
    transition: all .3s linear;
}
.gallery__img-descr {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery__delete-img {
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(226, 86, 86, 0.5);
    cursor: pointer;
}
.gallery__delete-img:hover {
    background-color: rgba(226, 86, 86, 1);

}
.gallery__item:hover .gallery__img-descr,
.gallery__item:hover .gallery__delete-img {
    opacity: 1;
}

</style>