<template>
        <div class="gallery">
            <template v-if="activator">
                <gallery-item
                v-for="(value, index) in images"
                :key="index"
                :image-obj="value"
                :index-obj="index"
                >
                </gallery-item>
                <gallery-popup></gallery-popup>
            </template>

            <template v-if="skeleton">
                <gallery-skeleton 
                v-for="item in 18"
                :key="item"
                ></gallery-skeleton>
            </template>
        </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import GallerySkeleton from '@/components/gallery/GallerySkeleton.vue';
import GalleryItem from '@/components/gallery/GalleryItem.vue';
import GalleryPopup from '@/components/gallery/GalleryPopup.vue';
export default {
    components: {
        GallerySkeleton,
        GalleryItem,
        GalleryPopup,
    },
    name: 'Gallery',
    computed: {
        ...mapGetters('images', {
            images: 'getImages',
            skeletonStatus : 'getSkeletonStatus',
        }),
        activator(){
            return this.images.length; 
        },
        skeleton(){
            return this.skeletonStatus;
        }
    },
    methods: {
        ...mapActions('images', {
            putImage: 'putImages',
            deactivateSkeleton: 'putSkeletonStatus',
        })
    },
    created(){
        let images = localStorage.getItem('images');
        if(images){
            setTimeout(()=>{
                this.putImage( JSON.parse(images) );
                this.deactivateSkeleton(false);
            }, 3000);
        }else{
            this.deactivateSkeleton(false);
        }
    },
}
</script>

<style scoped>
.gallery {
    column-width: auto;
    column-count: 5;
    column-gap: 1%;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1000px) {
    .gallery {
        column-count: 4;
    }
}
@media (max-width: 750px) {
    .gallery {
        column-count: 3;
    }
}
@media (max-width: 500px) {
    .gallery {
        column-count: 2;
    }
}
@media (max-width: 320px) {
    .gallery {
        column-count: 1;
    }
}
</style>