<template>
        <div class="gallery__skeleton-item"></div>
</template>

<script>
export default {
    name: 'GallerySkeleton',
}
</script>

<style scoped>
.gallery__skeleton-item {
    break-inside: avoid;
    background: rgba(151, 145, 145, .6);
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    min-width: 200px;
    min-height: 180px;
    margin-bottom: 15px;
    border-radius: 10px; 
}
.gallery__skeleton-item:nth-child(even){
    min-height: 240px;
}
.gallery__skeleton-item:nth-child(3n){
    min-height: 310px;
}

@keyframes loading {
  50% {
    opacity: 0.6;
  }
}
</style>