<template>
    <div 
    v-if="activator"
    class="gallery__popup"
    >   
        <div 
        @click="closePopup"
        class="gallery__popup-close"
        >
            Закрыть
        </div>
        <div class="gallery__popup-image">
            <img :src="image.url" alt="">
        </div>
        <div 
        v-if="image.description"
        class="gallery__popup-descr"
        >
            {{ image.description }}
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
    name: 'GalleryPopup',
    data: () => ({

    }),
    computed: {
        ...mapGetters('images', {
            image: 'getImagePopup',
        }),
        activator(){
            return this.image ?? false;
        }
    },
    methods: {
        ...mapActions('images', {
            inactivePopup: 'putImagePopup',
        }),
        closePopup(){
            this.inactivePopup(null);
        }
    }
}
</script>

<style scoped>
.gallery__popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.gallery__popup-descr,
.gallery__popup-close {
    position: absolute;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;;
}
.gallery__popup-descr {
    bottom: 15px;
}
.gallery__popup-close {
    cursor: pointer;
    right: 20px;
    top: 20px;
}
.gallery__popup-close:hover {
    background-color: rgba(255, 255, 255, 0.9);  
}

</style>