<template>
  <section>
    <form-img></form-img>
    <gallery></gallery>
  </section>
</template>

<script>
import Gallery from './components/gallery/Gallery.vue';
import FormImg from '@/components/form/FormImg.vue';

export default {
  name: 'App',
  components: {
    Gallery,
    FormImg,
  }
}
</script>